
@import "../var.scss";

 /*m-m-btn*/
.m-btn {
    display: inline-block;
    margin: 0 0 .5rem 0;
    padding: 0.45rem 1rem;

    color: $text-df;
    font-size: .75rem;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: middle;

    user-select: none;
    border-radius: 0.25rem;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid $text-muted;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    & + & {
        margin-left: .5rem;
    }

    &.m-btn-block {
        display: block;
        width: 95%;
        margin: .5rem auto;
        text-align: center;
    }
}

    .m-btn:active, .m-btn.active {
        background-color: lighten($text-muted,5%);
        border-color: darken($text-muted,1%);
    }

    .m-btn.disabled, .m-btn:disabled {
        opacity: 0.65;
    }

    .m-btn:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

    .m-btn:not(:disabled):not(.disabled):active, .m-btn:not(:disabled):not(.disabled).active {
        background-image: none;
    }
    // primary
    .m-btn-primary {
        color: #fff;
        background-color: $text-primary;
        border-color: $text-primary;
    }

    .m-btn-primary:active, .m-btn-primary.active {
        background-color: darken($text-primary,15%);
        border-color: darken($text-primary,15%);
    }

    .m-btn-primary.disabled, .m-btn-primary:disabled {
        color: #fff;
        background-color: lighten($text-primary,5%);
        border-color: lighten($text-primary,5%);
    }
    // success
    .m-btn-success {
        color: #fff;
        background-color: $text-success;
        border-color: $text-success;
    }

    .m-btn-success:active, .m-btn-success.active {
        background-color: darken($text-success,15%);
        border-color: darken($text-success,15%);
    }

    .m-btn-success.disabled, .m-btn-success:disabled {
        color: #fff;
        background-color: lighten($text-success,5%);
        border-color: lighten($text-success,5%);
    }
    // warning
    .m-btn-warning {
        color: #fff;
        background-color: $text-warning;
        border-color: $text-warning;
    }

    .m-btn-warning:active, .m-btn-warning.active {
        background-color: darken($text-warning,15%);
        border-color: darken($text-warning,15%);
    }

    .m-btn-warning.disabled, .m-btn-warning:disabled {
        color: #fff;
        background-color: lighten($text-warning,5%);
        border-color: lighten($text-warning,5%);
    }
    // danger
    .m-btn-danger {
        color: #fff;
        background-color: $text-danger;
        border-color: $text-danger;
    }

    .m-btn-danger:active, .m-btn-danger.active {
        background-color: darken($text-danger,15%);
        border-color: darken($text-danger,15%);
    }

    .m-btn-danger.disabled, .m-btn-danger:disabled {
        color: #fff;
        background-color: lighten($text-danger,5%);
        border-color: lighten($text-danger,5%);
    }
    // primary m-btn-outline
    .m-btn-primary.m-btn-outline {
        color: $text-primary;
        background-color: transparent;
        border-color: $text-primary;
    }

    .m-btn-primary.m-btn-outline:active, .m-btn-primary.m-btn-outline.active {
        background-color: darken($text-primary,15%);
        border-color: darken($text-primary,15%);
        color: #fff;
    }

    .m-btn-primary.m-btn-outline.disabled, .m-btn-primary.m-btn-outline:disabled {
        color: lighten( $text-primary,10%);
        background-color: transparent;
        border-color: lighten( $text-primary,10%);
    }
    //  successm-btn-outline
    .m-btn-success.m-btn-outline {
        color: $text-success;
        background-color: transparent;
        border-color: $text-success;
    }
    //
    .m-btn-success:active, .m-btn-success.active {
        background-color: darken($text-success,15%);
        border-color: darken($text-success,15%);
        color: #fff;
    }

    .m-btn-success.m-btn-outline.disabled, .m-btn-success.m-btn-outline:disabled {
        color: lighten( $text-success,10%);
        background-color: transparent;
        border-color: lighten( $text-success,10%);
    }
    // warning m-btn-outline
    .m-btn-warning.m-btn-outline {
        color: $text-warning;
        background-color: transparent;
        border-color: $text-warning;
    }
    //
    .m-btn-warning:active, .m-btn-warning.active {
        background-color: darken($text-warning,15%);
        border-color: darken($text-warning,15%);
        color: #fff;
    }

    .m-btn-warning.m-btn-outline.disabled, .m-btn-warning.m-btn-outline:disabled {
        color: lighten( $text-warning,10%);
        background-color: transparent;
        border-color: lighten( $text-warning,10%);
    }
    // danger m-btn-outline
    .m-btn-danger.m-btn-outline {
        color: $text-danger;
        background-color: transparent;
        border-color: $text-danger;
    }
    //
    .m-btn-danger:active, .m-btn-danger.active {
        background-color: darken($text-danger,15%);
        border-color: darken($text-danger,15%);
        color: #fff;
    }

    .m-btn-danger.m-btn-outline.disabled, .m-btn-danger.m-btn-outline:disabled {
        color: lighten( $text-danger,10%);
        background-color: transparent;
        border-color: lighten( $text-danger,10%);
    }
    