
@import "../var.scss";

/*m-input*/

.m-input-group {
    background: $bg-white;
    padding-left: .5rem;
    box-shadow: 5px 0 5px rgba(0,0,0,.075);
    touch-action:none;
}

.m-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    font-size: .9rem;
    touch-action: none;

    & + & {
        border-top: 1px solid $text-line;
    }
}

.m-input-label {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 0 0 5rem;
    padding-left: .25rem;
    color: $h-color;
    box-shadow: none;
    touch-action: none;
}
.m-input-box {
    flex: 1 1 auto;
    height: 100%;
    min-width: 120px;
    padding-left: .75rem;
    border: none;
    color: $text-gray;
    -webkit-tap-highlight-color:transparent;
}

.m-input-btn {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 4rem;
    color: $text-placeholer;
    border:none;
    border-left: 1px solid $text-line;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
  
    background-color: #fff;
    background-clip: padding-box;

    &a {
        color: $h-color;
    }
}
