

@import "../var.scss";


/*picker*/

.m-picker {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1000;
    visibility: hidden;
    background: rgba(0,0,0,.2);
    justify-content: center;
    align-items: flex-end;
    display: flex;

    &.in {
        visibility: visible;
    }

    &.out {
       // animation: m-picker-out 0.2s 0.4s both;
    }

    .m-picker-box-cnt {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: column nowrap;
        width: 100%;
        height: 42%;
        background: $text-white;
        box-shadow: 2px 2px 2px rgba(0,0,0,.075),-2px -2px 2px rgba(0,0,0,.075);

        &.in {
            animation: m-picker-cnt-dh-in .4s both;
        }

        &.out {
            animation: m-picker-cnt-dh-out .4s both;
        }

        .m-picker-box-btns {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            height: 2rem;
            padding: .2rem .5rem;
            background: #fff;
            border-bottom: 1px solid #ddd;
            font-size: .8rem;

            > .ok {
                color: $text-success;
            }

            > .cancel {
                color: $text-gray;
            }

            .m-picker-btn {
                padding: .1rem .5rem;
                border: 1px solid $text-muted;
                border-radius: 5px;
            }
        }


        .m-picker-btns-tip {
            display: flex;
            width: 100%;
            justify-content: flex-start;
            align-items: center;
            height: 2rem;
            padding: .2rem .5rem;
            background: #fff;
            border-bottom: 1px solid #ddd;
            font-size: .8rem;
            color: $text-gray;

            span {
                color: $text-success;
            }
        }

        .m-picker-box-ttl {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            border-bottom: 1px solid $text-line;

            > div {
                flex: 1 1 auto;
                padding: .2rem .5rem;
                text-align: center;
                color: $text-gray;
                font-size: .7rem;
            }
        }
    }

    .m-picker-inners {
        flex: 1;
        display: flex;
        justify-content: space-between;
        justify-items: center;
        width: 100%;
        overflow: hidden;
    }

    .m-picker-inner {
        position: relative;
        width: 100%;
        height: 100%;
        flex: 1 1 auto;
        overflow: hidden;
        perspective: 768px;
        -webkit-mask-box-image: -webkit-linear-gradient(bottom, transparent, transparent 5%, #fff 20%, #fff 80%, transparent 95%, transparent);
        mask-box-image: -webkit-linear-gradient(bottom, transparent, transparent 5%, #fff 20%, #fff 80%, transparent 95%, transparent);

        .m-picker-cnt {
            width: 100%;
        }

        .m-picker-item {
            font-size: .7rem;
            line-height: 40rem/$rem;
            text-align: center;


            &.active {
                font-size: .8rem;
                color: $text-success;
            }
        }

        .m-picker-item-first,
        .m-picker-item-last,
        .m-picker-line,
        .m-picker-item {
            height: 40rem/$rem;
        }

        .m-picker-line {
            position: absolute;
            top: 50%;
            overflow: hidden;
            width: 100%;
            margin-top: -20rem/$rem;
            border-top: 1px solid $text-success;
            border-bottom: 1px solid $text-success;
            pointer-events: none;
        }
    }
}





@keyframes m-picker-item-animate {

    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}



@keyframes m-picker-cnt-dh-in {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes m-picker-cnt-dh-out {
    0% {
        opacity: 1;
        transform: none;
    }

    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}

@keyframes m-picker-in {
    0% {
        opacity: 0;
        
    }

    100% {
        opacity: 1;
      
    }
}
@keyframes m-picker-out {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
     
        opacity: 0;
        visibility: hidden;
    }
}
