
@import "../var.scss";


/*上下滑动的菜单*/

.m-touch-tb {
    position: relative;
    width: 100%;
    height: 100%;
    overflow:hidden;
    perspective: 768px;

    .m-touch-tb-cnt {
        width: 100%;
    }

    .m-touch-tb-item {
        font-size: .7rem;

        a {
            display: block;
            line-height: 40rem/$rem;
            color: $text-df;
            text-align: center;
        }

        &.active {
            background: $active;
            color: $text-white;

            a {
                color: $text-white;
            }
        }
    }
}

.m-aside-r-box {
    display:none;
    width: 100%;
    height: 100%;

    &.active {
        display: block;
        animation: m-touch-tb-item-animate 1s ease both;

    }
}

@keyframes m-touch-tb-item-animate {

    0% {
     //opacity:0;
        transform: translateY(50px);
    }

    100% {
        transform: none;
       //opacity:1;
    }
}
