
@import "../var.scss";

@media screen and (max-width: 319px) {
    html {
        font-size: 320px/$remSize;
    }
}


@media screen and (min-width: 320px) {
    html {
        font-size: 320px/$remSize;
    }
}

@media screen and (min-width: 360px) {
    html {
        font-size: 360px/$remSize;
    }
}

@media screen and (min-width: 375px) {
    html {
        font-size: 375px/$remSize;
    }
}

@media screen and (min-width: 384px) {
    html {
        font-size: 384px/$remSize;
    }
}

@media screen and (min-width: 400px) {
    html {
        font-size: 400px/$remSize;
    }
}

@media screen and (min-width: 414px) {
    html {
        font-size: 414x/$remSize;
    }
}

@media screen and (min-width: 424px) {
    html {
        font-size: 424px/$remSize;
    }
}

@media screen and (min-width: 480px) {
    html {
        font-size: 480px/$remSize;
    }
}

@media screen and (min-width: 540px) {
    html {
        font-size: 540px/$remSize;
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 40px;
    }
}




