/*默认样式*/

// clear element padding margin outline
*{
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background: $body-bg;
    color:$body-color;
}

html,body{
    height: 100%;
    overflow: hidden;
}
img {
    display: inline-block;
}


ul {
    list-style: none;
}


a,
a:link,
a:active {
    text-decoration: none;
    color:$a-color;
}


/*input*/

input,
button,
textarea
 {
    outline: none;
}

input:focus,
button:focus,
button:active
{
    outline: none !important;
}



.width-0-5 {
    width: 5%;
    float: left;
}

.width-1 {
    width: 10%;
    float: left;
}

.width-1-5 {
    width: 15%;
    float: left;
}

.width-2 {
    width: 20%;
    float: left;
}

.width-2-5 {
    width: 25%;
    float: left;
}

.width-3 {
    width: 30%;
    float: left;
}

.width-3-5 {
    width: 35%;
    float: left;
}

.width-4 {
    width: 40%;
    float: left;
}

.width-4-5 {
    width: 45%;
    float: left;
}

.width-5 {
    width: 50%;
    float: left;
}

.width-5-5 {
    width: 55%;
    float: left;
}

.width-6 {
    width: 60%;
    float: left;
}

.width-6-5 {
    width: 65%;
    float: left;
}

.width-7 {
    width: 70%;
    float: left;
}

.width-7-5 {
    width: 75%;
    float: left;
}

.width-8 {
    width: 80%;
    float: left;
}

.width-8-5 {
    width: 85%;
    float: left;
}

.width-9 {
    width: 90%;
    float: left;
}

.width-9-5 {
    width: 95%;
    float: left;
}

.width-100 {
    width: 100%;
    clear: both;
}

/* use table width no float */
.table-fixed {
    table-layout: fixed;
}

.table-auto {
    table-layout: auto;
}
.table-0-5 {
    width: 5%;
  
}

.table-1 {
    width: 10%;
  
}

.table-1-5 {
    width: 15%;
 
}

.table-2 {
    width: 20%;
   
}

.table-2-5 {
    width: 25%;
   
}

.table-3 {
    width: 30%;
   
}

.table-3-5 {
    width: 35%;
   
}

.tabel-4 {
    width: 40%;
   
}

.table-4-5 {
    width: 45%;
   
}

.table-5 {
    width: 50%;
  
}

.table-5-5 {
    width: 55%;
   
}

.table-6 {
    width: 60%;
 
}

.table-6-5 {
    width: 65%;
 
}

.table-7 {
    width: 70%;
  
}

.table-7-5 {
    width: 75%;
 
}

.table-8 {
    width: 80%;
  
}

.table-8-5 {
    width: 85%;
 
}

.table-9 {
    width: 90%;
   
}

.table-9-5 {
    width: 95%;
 
}

.table-100 {
    width: 100%;
  
}

/* 输入框focus焦点*/

input[type=text]:focus,
input[type=password]:focus,
select:focus,
textarea:focus {
    outline: none !important;
}

//a link
a:hover {
    text-decoration: none;
}

select option {
    outline: none !important;
}



/*clr*/

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
    overflow: hidden;
}
.content-responsive img {
    height: auto;
    max-width: 100% !important;
}

.response-img {
    height: auto;
    width: 100% !important;
}



