  /*test*/ 




.test{
 
 .mobile-tab-nav.mobile-tab-fixed {
     ul{
         display: flex;
         
         li{
             width: 33.33%;
			 
             height: 120rem/$rem;
	
         }
     }
 }
 
}
