
/*设计图width*/
$screenwidth:320;

/*rem 份数*/
$remSize:16;

/* 320/16 =20px=1rem */

/*html rem比例*/
$rem:($screenwidth/$remSize);

/* text-color*/
$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

 $body-bg:#f8f8f8;  
 $body-color:#444;  
 $active-color:#690;
 $active-bg:#690;
 $a-color:darken( blue,10%);
 
 
 $slide-rd-df:#ccc; // slide 的小圆点active的 color
 $slide-rd-active:red; // slide 的小圆点active的 color









