
@import "var.scss";                           // variable   

@import "_media.scss";                  //_media

@import "_normalize.scss";                            // reset css style 

//@import "mixin.scss";                          // 函数

@import "_default.scss";                         //   default scss

@import "component-scss/comp-all.scss";          //  组件

@import "page-scss/all-page.scss";          //  pages

//@import "test.scss";                          // 测试   



