


@import "../var.scss";
/* m-card*/

.m-card {
    margin: .5rem;
    border-radius: 5px;
    background: $bg-white;
    box-shadow: 2px 2px 5px rgba(0,0,0,.1),-2px -2px 5px rgba(0,0,0,.1);
}

.m-card-head {
    margin-bottom: .25rem;
    padding: .5rem;
    font-size: .9rem;
    border-bottom: 1px solid $text-border;
}

.m-card-img {
    display: inline-block;
    width: 100%;
    padding: .25rem;
}

.m-card-body {
    padding: .5rem;
    margin-bottom: .5rem 0;
}

.m-card-title {
    font-size: 1rem;
    color: $h-color;
}

.m-card-text {
    padding-top: .25rem;
    color: lighten($h-color,20%);
    font-size: .8rem;
}

.m-card-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    justify-items: flex-start;
    align-items: center;
    padding: .5rem;
    border-top: 1px solid $text-border;
}
