

@import "../var.scss";

.m-checkbtn {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: .75rem;
    cursor: pointer;

    .m-checkbtn-item {
        padding: .25rem  .5rem;
        color: #666;
        background: #f0f0f0;
        border-radius: .5rem;
        cursor: pointer;

        &.active {
            background: $text-primary;
            color: #fff;
        }
    }

    &.text-success .m-checkbtn-item.active {
        background: $text-success;
        color: #fff;
    }

    &.text-warning .m-checkbtn-item.active {
        background: $text-warning;
        color: #fff;
    }

    &.text-danger .m-checkbtn-item.active {
        background: $text-danger;
        color: #fff;
    }
}

.m-checkbtn-group {
    position: relative;
    display: inline-block;
    margin-left: .75rem;
    vertical-align: middle;
    cursor: pointer;

    .m-checkbtn-group-item {
        display: inline-block;
        vertical-align: middle;
        padding: .25rem .5rem;
        color: #666;
        background: #f0f0f0;
        border-radius: .5rem;
        cursor: pointer;

        & + & {
            margin-left: .75rem;
        }

        &.active {
            background: $text-primary;
            color: #fff;
        }
    }


    &.text-success .m-checkbtn-group-item.active {
        background: $text-success;
        color: #fff;
    }

    &.text-warning .m-checkbtn-group-item.active {
        background: $text-warning;
        color: #fff;
    }

    &.text-danger .m-checkbtn-group-item.active {
        background: $text-danger;
        color: #fff;
    }
}

    .m-radiobtn-group {
        display: inline-block;
        vertical-align: middle;
        margin-left: 1rem;
    }

    .m-radiobtn-item {
        float: left;
        padding: .5rem .75rem;
        color: #666;
        background: #f0f0f0;
        border-radius: .5rem;
        cursor: pointer;

        &.m-radiobtn-item {
            margin-left: .5rem;
        }

        &.active {
            background: $text-primary;
            color: #fff;
        }
    }
