
@import "../var.scss";


/*左右滑动的菜单*/

.m-fade-tab {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #fff;
  
    touch-action: none;

    .m-fade-tab-cnt {
        position: relative;
        display: inline-block;
        height: 100%;
        width: 100%;
        vertical-align: top;
        white-space: nowrap;
        text-align: center;
        font-size: 0;
    }

    .m-fade-tab-item {
        display: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        font-size: .7rem;
        vertical-align: top;

        &.active {
            display: inline-block;

            &.fade {
                animation: mfade-tab-item-dh .8s ease both;
            }
        }
    }
}

@keyframes mfade-tab-item-dh{

    0%{
        opacity:0;
        
    }
    100%{

        opacity:1;
       
    }
}
