
@import "../var.scss";

/*m-ft*/
$m-ft-height: 50rem/$rem;

.m-ft {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index:1;
    text-align: center;
    background: $bg-white;
}

.m-ft-nav-ttl {
    height: $m-ft-height;
    line-height: $m-ft-height;
}
