

@import "../var.scss";


.m-lazy {
    position: relative;
    display: inline-block;
    width:100%;
   
}


.m-lazy::before {
    
    content: attr(title);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

   display:flex;
   justify-content:center;
   align-items:center;

    color:$text-muted;
    font-size:.9rem;
    font-weight:400;
    text-shadow: .1rem .1rem .5rem rgba(0,0,0,.1);
   
}


.m-lazy.m-lazy-mask::before {
    background: $lazy-mask;
    box-shadow: inset -1px -1px 2px rgba(0,0,0,.01), inset 1px 2px rgba(0,0,0,.01);
}


.m-lazy.m-lazy-end::before {
    visibility: hidden;
    opacity: 0;
    transition: all .4s;
}


.m-lazy img {

    
    visibility: hidden;
    filter: blur(10px) opacity(0);

    &.m-lazy-animation {
        visibility: visible;
        filter: blur(0px) opacity(1);
        transition: all .6s linear;

    }
}

