
// indexlist
@import "../var.scss";

.m-listoption {
    width: 100%;
}

.m-listoption-item {
    width: 100%;
    height: 3rem;
    overflow: hidden;
    background: $bg-white;

    & + & {
        border-top: 1px solid $text-line;
    }
}

.m-listoption-item:nth-of-type(1) {
    border-top: solid 1px $text-line;
}


.m-listoption-item:nth-last-child(1) {
    border-bottom: solid 1px $text-line;
}

.m-listoption-item-cnt {
    height: 100%;
    display:flex;
    justify-content:flex-start;
    align-items:stretch;
    flex-flow:row nowrap;
    background: $bg-white;
}

.m-listoption-item-left {
    flex: 0 0 auto;
    height: 100%;
    width: 100%;
    font-size: .8rem;

    > a {
        height: 100%;
        width: 100%;
        padding: .25rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: #fff;
    }

    ._txt {
        text-align: left;
        color: $text-df;
        font-size: .7rem;
    }

    ._ttl {
        text-align: left;
        margin: 0;
    }

    img {
        flex: 0 0 2.5rem;
        box-sizing: content-box;
        display: block;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
    }

    ._contnet {
        padding-left: 1rem;
        flex: 1;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        color: $h-color;

        > div:nth-child(1) {
            font-size: .7rem;
        }

        > div:nth-last-child(1) {
            width: 4rem;
            color: $text-placeholer;

            span {
                display: block;
                padding-right: .5rem;
                text-align: right;
                font-size: .7rem;
            }
        }
    }
}

.m-listoption-item-option {
    height: 100%;
    white-space: nowrap;
    font-size: 0;

    > ._item {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: .25rem .5rem;
        background: #fff;
        font-size: .8rem;

        & + & {
            border-left: 1px solid $text-line;
        }

        &.muted {
            background: $text-muted;
            color: $text-df;
        }

        &.danger {
            background: $text-danger;
            color: $text-white;
        }

        &.primary {
            background: $text-primary;
            color: $text-white;
        }

        &.success {
            background: $text-success;
            color: $text-white;
        }

        &.warning {
            background: $text-warning;
            color: $text-white;
        }

        &:nth-last-of-type(1) {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                left:0;
                top:0;
                z-index: -1;
                width: 1000vw;
                height: 100%;
                background: inherit;
            }
        }
    }
}
