


@import "../var.scss";
/* m-media*/

.m-media {
    margin: .5rem;
    padding: .25rem;
    border-radius: 5px;
    background: $bg-white;
    box-shadow: 2px 2px 5px rgba(0,0,0,.1),-2px -2px 5px rgba(0,0,0,.1);
}

.m-media-list {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;

    &.list-2 {

        .m-media {
            box-sizing: border-box;
            margin: 2% 2% 0 0;
            width: 47%;
        }

        .m-media:nth-child(odd) {
            margin-left: 2%;
        }

        .m-media-img {
            height: 166rem/$rem;
        }

        .m-media-title {
            font-size: .8rem;
            color: $h-color;
        }

        .m-media-icon {
            margin:.5rem 0 0 0 ;
        }

        .m-media-icon-l {
            color: $text-danger;
            font-size: .8rem;
        }

        .m-media-icon-r {
            font-size: .8rem
        }
    }
}


    .m-media-img {
        display: inline-block;
        width: 100%;
    }

    .m-media-body {
        padding: .5rem;
    }

    .m-media-title {
        font-size: 1rem;
        color: $h-color;
    }

    .m-media-text {
        padding-top: .25rem;
        color: lighten($h-color,20%);
        font-size: .8rem;
    }

    .m-media-icon {
        margin: 1rem 0 .5rem 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        justify-items: flex-start;
        align-items: center;
    }

    .m-media-icon-l {
        color: $text-danger;
        font-size: 1rem;
    }
