/*m-df 默认 */

@import "../var.scss";


.m-router-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:#000;
    opacity:.01;
}

@keyframes m-router-dh{
    0% {
        transform: translateZ(0) translateX(100%);
        box-shadow: 0 -5px 5px rgba(0,0,0,.075);
    }
    100% {
        transform: translateZ(0) translateX(0);
    }
}

.m-router {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: #fff;

    &.in {
        animation: m-router-dh .4s ease both;
    }

    .m-hd-top-ttl ._fail {
        color: $text-muted;

        .iconfont {
            font-size: .9rem;
            vertical-align: middle;
            margin: 0 .25rem;
            font-weight:100;
        }
    }

    ._fail-cnt {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: $text-muted;

        .iconfont {
            font-size: .9rem;
            vertical-align: middle;
            margin: 0 .5rem
        }
    }
}

.m-router-hd {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: #fff;
    border-bottom: 1px solid $text-line;
    box-shadow: 1px 0 5px rgba(0,0,0,.075);

    .m-hd-top-ttl-mask {
        padding: .2rem .7rem;
        color: #fbf8f8;
        opacity: .4 5;
        font-size: .8rem;
        letter-spacing: 2px;

        & + .m-hd-top-ttl-mask {
            margin-left: .25rem;
        }
    }
}

.m-router-cnt {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: visible;
    background: $body-bg;
}

.m-router-ft {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    text-align: center;
    background: $bg-white;
}

.m-router-back {
    -webkit-tap-highlight-color: transparent !important;

    &:active {
        -webkit-tap-highlight-color: transparent !important;
    }
}

.m-router-box-shadow{
    box-shadow:0 -5px 5px rgba(0,0,0,.15);
}