
@import "../var.scss";


// 左右的导航项
.m-touch-nav-lr {
    position: relative;
    padding: .2rem 0;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    background: $bg-white;

    &.box-shadow {
        box-shadow: 0 .1rem .25rem rgba(0,0,0,.075) inset,0 -.1rem .25rem rgba(0,0,0,.075) inset;
    }

    &.border-bottom {
        border-bottom: 1px solid $text-line;
    }

    &.border-top {
        border-top: 1px solid $text-line;
    }

    .m-touch-nav-cnt {
        display: inline-block;
        font-size: 0;
        white-space: nowrap;
    }

    .m-touch-nav-item {
        display: inline-block;
        font-size: .7rem;

        a {
            display: block;
            padding: 0 15rem/$rem;
            line-height: 30rem/$rem;
        }

        &.active {


            a {
                background: $active;
                color: $text-white;
            }
        }
    }
}


