
@import "../var.scss";


// 左右的导航项
.m-touch-lr {
    position: relative;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    font-size: 0;
    background: $bg-white;

    &.box-shadow {
        box-shadow: 0 .1rem .25rem rgba(0,0,0,.075) inset,0 -.1rem .25rem rgba(0,0,0,.075) inset;
    }

    &.border-bottom {
        border-bottom: 1px solid $text-line;
    }

    &.border-top {
        border-top: 1px solid $text-line;
    }

    .m-touch-lr-cnt {
        display: inline-block;
        height: 100%;
        white-space: nowrap;
    }

    .m-touch-lr-item {
        display: inline-block;
        height: 100%;
        overflow: hidden;
        vertical-align: middle;

        a {
            display: block;
            height: 100%;
            font-size: .7rem;
            -webkit-tap-highlight-color: none;
        }

        img {
            max-height: 100%;
            vertical-align: middle;
        }
    }

    .m-touch-lr-item-btn, a.m-touch-lr-item-btn {
        display: block;
        padding: 0 16rem/$rem;
        font-size: .7rem;
        vertical-align: middle;
        line-height: 30rem/$rem;
    }

    .m-touch-lr-item.active .m-touch-lr-item-btn {
        background: $active;
        color: $text-white;
    }
}


