
@import "../var.scss";


/*左右滑动的菜单*/

.m-touch-tab {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #fff;
    margin-bottom: 15rem/$rem;
    touch-action:none;

    .m-touch-tab-cnt {
        position: relative;
        display: inline-block;
        height: 100%;
        vertical-align: top;
        white-space: nowrap;
        text-align: center;
        font-size: 0;
    }

    .m-touch-tab-item {
        height: 100%;
        display: inline-block;
        overflow: hidden;
        font-size: .7rem;
        vertical-align: top;
        touch-action:none;

        > a {
            display: block;
        }


        > * {
            vertical-align: top;
        }
    }
}

