
@import "../var.scss";


/*左右滑动的tab的按钮*/

// tab-btn
.m-touch-tab-btn {
    position: relative;
    background: $bg-white;

    .m-touch-tab-btn-cnt {
        display: flex;
        flex-flow: nowrap row;
        justify-content: center;
        align-items: center;
    }

    &.m-touch-tab-btn-top {
        border-bottom: 1px solid $text-line;

        .m-touch-tab-btn-item {
            padding: .4rem .2rem;
        }
    }

    &.m-touch-tab-btn-bottom {
        border-top: 1px solid $text-line;
     

        .m-touch-tab-btn-item {

            padding: 0 .2rem .1rem .2rem;
            display:flex;
            flex-flow:column nowrap;
            justify-content:space-between;
            align-items:center;
            width:100%;

            .icon{ font-size:1.2rem; margin-bottom:-.2rem;}
            .text{ font-size:.6rem; padding:.1rem;}
        }
    }


    .m-touch-tab-btn-line {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
        display: inline-block;
        vertical-align: top;
        border-top: 1px solid $active;
        border-radius: 5px;
    }
}
.m-touch-tab-btn-item{
    flex:1;
    text-align:center;
    font-size:.8rem;
    touch-action:none;

    &.active{
        color:$active;
    }

}
