
/*上下拉全屏页*/
.mobile-fullpage{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.mobile-fullpage-list,
.mobile-fullpage-list-item{
    width: 100%;
    
}



.mobile-fullpage-nav{
    position: absolute;
    right: 10px;
    top:50%;
}



.mobile-fullpage-nav-item{
    position: relative;
    width: 8px;
    height: 8px;
    z-index: 99999;
    text-align: center;
    line-height: 5px;
    border-radius: 5px;
    background: #ccc;
    &+&{
       margin-top: 10px; 
    }
     &.active{
         background: red;;
     }
}
