.mobile-tab {
    position: fixed;
    left: 0;
    width: 100%;
    background: #fff;
}

.mobile-tab-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background: #f0f0f0;
}

.mobile-tab-ttl {
    height: 100rem/$rem;
    line-height: 100rem/$rem;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    color: #444;
}

.mobile-tab-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 9;
    width: 100%;
    border-top: 1px solid #ddd;
    background: #fff;
}

.mobile-tab-nav {
    width: 100%;
    background: #fff;
    overflow: hidden;
    z-index: 9;
}

.mobile-tab-item {
    display: block;
    box-sizing: border-box;
    height: 40rem/$rem;
    line-height: 40rem/$rem;
    font-size: 14rem/$rem;
    text-align: center;
    background: #fff;
    &+.mobile-tab-item {
        border-left: 1px solid #ddd;
    }
    &.active {
        color: $active-color;
    }
}


/*  tab内容 slide*/

.mobile-tab-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

.mobile-tab-slide-list {
    height: 100%;
    .mobile-scroll-content-many {
        min-height: 100%;
        background: #fff;
    }
}

.mobile-tab-slide-item {
    float: left;
    padding: 10px;
    &.mobile-scroll-topbottom {
        height: 100%;
    }
}


/*tmobile-tab-nav*/

.mobile-tab-nav {
    position: relative;
    padding: 3rem/$rem 0;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 2px #ddd, ;
    overflow: hidden;
}

.mobile-tab-fixed {
    padding: 5px;
    text-align: center;
    li {
        padding: 5px;
        &.active {
            background: $active-bg;
            color: #fff;
        }
    }
}


/*mobile-tab-nav 下面的线条*/

.mobile-tab-fixed.mobile-tab-line li {
    padding: 5px;
}

.mobile-tab-fixed.mobile-tab-line li.active {
    background: #fff;
    color: #690;
}


/*滑动线条*/

.mobile-tab-slide-line {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 40px;
    height: 2px;
    background: $active-bg;
}