
/*mobile-footer*/
.mobile-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 9;
    height:44rem/$rem;
    width: 100%;
    background: #f0f0f0;
}

.mobile-footer h2 {
    width: 100%;
    font-size: 16rem/$rem;
    text-align: center;
    color:#444;
    line-height:44rem/$rem;;
}
