
/*mobile-head*/
.mobile-head {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    background: #f0f0f0;
     overflow: hidden;
}

.mobile-head .mobile-back {
    display: block;
     height: 2rem;
    line-height: 2rem;
    float: left;
    width: 15%;
    outline: none;
    background: none;
}

.mobile-head .mobile-back.icon-back-left {
    padding-left: 10rem/$rem;
    font-size: 1.4rem;
    vertical-align: middle;
    color: #666;
    cursor: pointer;
   
}

.mobile-head .mobile-back span:active {
    color: red;
    outline: none;
    background: none;
}

.mobile-head-ttl {
    display: block;
    float: left;
    height: 2rem;
    line-height: 2rem;
    width: 100%;
    margin: 0 auto;
    font-size: .7rem;
    text-align: center;
    color:#444;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
 
    
  
}

.mobile-back +.mobile-head-ttl {
     width: 70%; 
    
  }
  


