/* mobile-scroll 导航左右滑动 */

.mobile-scroll-leftright {
    position: relative;
    z-index: 1;
    padding: 5px 0;
    width: 100%;
    overflow: hidden;
    background: #fff;

    .mobile-scroll-content {
        float: left;
        white-space: nowrap;
        text-align: center;
        font-size: 0;
        li {
            float: none;
            display: inline-block;
            padding: 0 15rem/$rem;
            height: 30rem/$rem;
            line-height: 30rem/$rem;
            font-size: .7rem;
            a {
                display: block;
                line-height: 30rem/$rem;
                color: #020202;
            }
            &.active {
                background: $active-bg;
                color: #fff;
                a {
                    color: #fff;
                }
            }
        }
    }
}