@font-face {
  font-family: "icon"; /* Project id 1638820 */
  src: url('iconfont.woff2?t=1621573426321') format('woff2'),
       url('iconfont.woff?t=1621573426321') format('woff'),
       url('iconfont.ttf?t=1621573426321') format('truetype');
}

.icon {
  font-family: "icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dibu:before {
  content: "\e676";
}

.icon-dingbu:before {
  content: "\e675";
}

.icon-volume:before {
  content: "\e757";
}

.icon-wifi:before {
  content: "\e700";
}

.icon-microphone:before {
  content: "\e623";
}

.icon-sun:before {
  content: "\e7ed";
}

.icon-lockclose:before {
  content: "\e633";
}

.icon-bluetooth:before {
  content: "\e642";
}

.icon-kod-qr:before {
  content: "\e749";
}

.icon-moon:before {
  content: "\e710";
}

.icon-qr-scanner:before {
  content: "\e65f";
}

.icon-menu-right:before {
  content: "\e6cb";
}

.icon-menu-up:before {
  content: "\e6cc";
}

.icon-minus-sign:before {
  content: "\e6cd";
}

.icon-music:before {
  content: "\e6cf";
}

.icon-option-horizontal:before {
  content: "\e6d5";
}

.icon-ok-circle:before {
  content: "\e6d3";
}

.icon-option-vertical:before {
  content: "\e6d6";
}

.icon-question-sign:before {
  content: "\e6e1";
}

.icon-remove-sign:before {
  content: "\e6e5";
}

.icon-resize-full:before {
  content: "\e6e6";
}

.icon-resize-horizontal:before {
  content: "\e6e7";
}

.icon-resize-small:before {
  content: "\e6e8";
}

.icon-resize-vertical:before {
  content: "\e6e9";
}

.icon-sort:before {
  content: "\e6f3";
}

.icon-signal:before {
  content: "\e6f4";
}

.icon-share-alt1:before {
  content: "\e6f5";
}

.icon-triangle-bottom:before {
  content: "\e70c";
}

.icon-triangle-top:before {
  content: "\e70d";
}

.icon-usd:before {
  content: "\e70e";
}

.icon-warning-sign:before {
  content: "\e70f";
}

.icon-off-btn:before {
  content: "\e603";
}

.icon-setting:before {
  content: "\e61c";
}

.icon-cloud:before {
  content: "\e7b4";
}

.icon-calendar:before {
  content: "\e631";
}

.icon-play-btn:before {
  content: "\e67e";
}

.icon-folderopen:before {
  content: "\e680";
}

.icon-triangle-left:before {
  content: "\e62e";
}

.icon-triangle-right:before {
  content: "\e62f";
}

.icon-star:before {
  content: "\e62a";
}

.icon-chevron-up:before {
  content: "\e72a";
}

.icon-Retweet:before {
  content: "\e63a";
}

.icon-chevron-down:before {
  content: "\e71e";
}

.icon-filter:before {
  content: "\e8fe";
}

.icon-eye-close:before {
  content: "\e8ff";
}

.icon-zoomin:before {
  content: "\e61a";
}

.icon-share-alt2:before {
  content: "\ecd8";
}

.icon-pushpin:before {
  content: "\e67f";
}

.icon-trash:before {
  content: "\e69f";
}

.icon-comment:before {
  content: "\ea5a";
}

.icon-cc-bell-o:before {
  content: "\e613";
}

.icon-backward:before {
  content: "\e63b";
}

.icon-removecircle:before {
  content: "\e67b";
}

.icon-exclama:before {
  content: "\e685";
}

.icon-oksign:before {
  content: "\e68c";
}

.icon-plussign:before {
  content: "\e708";
}

.icon-heart:before {
  content: "\e71c";
}

.icon-phone:before {
  content: "\e602";
}

.icon-stop:before {
  content: "\ed37";
}

.icon-pencil:before {
  content: "\e629";
}

.icon-time:before {
  content: "\e6f1";
}

.icon-play:before {
  content: "\e9f9";
}

.icon-eyeopen:before {
  content: "\e71b";
}

.icon-home:before {
  content: "\e6b5";
}

.icon-cloudup:before {
  content: "\e71a";
}

.icon-clouddown:before {
  content: "\e71d";
}

.icon-search:before {
  content: "\e630";
}

.icon-gbp:before {
  content: "\e705";
}

.icon-gift:before {
  content: "\e619";
}

.icon-pause:before {
  content: "\e836";
}

.icon-ok:before {
  content: "\e668";
}

.icon-star-empty:before {
  content: "\e670";
}

.icon-rmb:before {
  content: "\e808";
}

.icon-plane:before {
  content: "\e78c";
}

.icon-share-alt:before {
  content: "\e80e";
}

.icon-comment1:before {
  content: "\f286";
}

.icon-suijisenlin:before {
  content: "\e60f";
}

.icon-forward:before {
  content: "\e8ee";
}

.icon-zoomout:before {
  content: "\e639";
}

.icon-shop-cart:before {
  content: "\e64f";
}

.icon-fast-backward:before {
  content: "\e6f2";
}

.icon-step-backward:before {
  content: "\e709";
}

.icon-step-forward:before {
  content: "\e70a";
}

.icon-minus:before {
  content: "\e655";
}

.icon-remove:before {
  content: "\e70b";
}

.icon-user:before {
  content: "\e609";
}

.icon-plus:before {
  content: "\e64e";
}

.icon-wrench:before {
  content: "\e97c";
}

.icon-thumbs-up:before {
  content: "\e79d";
}

.icon-thumbs-down:before {
  content: "\e79c";
}

.icon-ban-circle:before {
  content: "\e69a";
}

.icon-earphone:before {
  content: "\e6a7";
}

.icon-eject:before {
  content: "\e6a8";
}

.icon-fast-forward:before {
  content: "\e6ac";
}

.icon-hand-down:before {
  content: "\e6b6";
}

.icon-hand-right:before {
  content: "\e6b7";
}

.icon-hand-up:before {
  content: "\e6b8";
}

.icon-hd-video:before {
  content: "\e6b9";
}

.icon-hand-left:before {
  content: "\e6ba";
}

.icon-info-sign:before {
  content: "\e6c0";
}

.icon-menu-down:before {
  content: "\e6c8";
}

.icon-menu-hamburger:before {
  content: "\e6c9";
}

.icon-menu-left:before {
  content: "\e6ca";
}

.icon-loading:before {
  content: "\e62b";
}

.icon-nanguo:before {
  content: "\e638";
}

.icon-radiobox:before {
  content: "\e6c1";
}

.icon-checkbox-active:before {
  content: "\e677";
}

.icon-radiobox-active:before {
  content: "\e678";
}

.icon-checkbox:before {
  content: "\e64d";
}

.icon-back-left:before {
  content: "\e637";
}

.icon-back-right:before {
  content: "\e7b9";
}

