
.scrolltopbottom {
    box-shadow: -2px 0px 3px #ddd;
    background: #fff;
    li{
        float: left;
        width: 50%;
        box-sizing: border-box;
        padding: 10px;
        text-align: center;
        border: 1px solid #f8f8f8;
       
       +li{
           
       }
        img {
            display: inline-block;
            width: 120rem/$rem;
            height: 120rem/$rem;
        }
        h5 {
            padding-bottom: .25rem;
            font-size: .7rem;
            text-align: left;
            width: 100%;
            color:#444;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
           // border-bottom:1px solid #f0f0f0  ;
        }
        p{
            text-align: left;
            color:#999;
            font-size: .6rem;
            line-height: 17rem/$rem;
            height: 34rem/$rem;
            &.mobile-ellipsis{
                
                height: 17rem/$rem;
            }
            
        }
        
      
        
        .op{
            padding: 3rem/$rem 0;
            .price
            {
                float: left;
                display: block;
                color:red;
                font-size: .7rem;
            }
             
             
             .btn{
                 background: red;
                 color:#fff;
                  border:none;
                  outline: none;
                  padding: 2rem/$rem 5rem/$rem;
                  border-radius: 5px;
                    font-size: .6rem;
             }
        }
        
    }
}
