<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>mobile触摸页面</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<style>
			.mobile-slide {
				height: 8rem;
			}
			
			
		</style>
		<link rel="stylesheet" type="text/css" href="../css/font/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../css/mobile.css" />

	</head>

	<body>
		<!--tab组件-->
		<div class="mobile-head">
			<span class="mobile-back iconfont icon-back-left"></span>
			<h2 class="mobile-head-ttl">overFlow滑动组件</h2>
		</div>

		<!--content-->
		<!-- data-scroll-top 是否下拉#   data-scroll-bottom 是否上拉   -->
		<section class="mobile-content ">
			<div class="mobile-overflow " >

				<div class=" mobile-overflow-content">

					<div class="mobile-loading-content">
					
						<div class="mobile-slide  clearfix" data-time="3000" data-auto="自动播放">

							<ul class="mobile-slide-list">
								<li class="mobile-slide-item">
									<a href="scroll.html" id="a">
										<img src="../images/slider.png" alt="">
									</a>
									<!--<div class="wz">
								<p>1习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
								<p>1习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
								<p>1习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
								<p>1习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
								<p>1习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
								<p>1习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
								<p>1习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>

							</div>-->

								</li>
								<li class="mobile-slide-item">
									<a href="http://www.51zxw.com">
										<img src="../images/slider.png" alt="">
									</a>
								</li>
								<li class="mobile-slide-item">
									<a href="javascript:;">
										<img src="../images/slider.png" alt="">
									</a>
								</li>
								<li class="mobile-slide-item">
									<a href="javascript:;">
										<img src="../images/slider.png" alt="">
									</a>
								</li>
								<li class="mobile-slide-item">
									<a href="javascript:;">
										<img src="../images/slider.png" alt="">
									</a>
								</li>
							</ul>

							<div class="mobile-slide-radius clearfix">
								<span class="active"></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>

						</div>

						<ul class=" scrolltopbottom clearfix">
							<li>
								<a href="aside.html">
									<img src="../images/index-list-1.png" alt="" />
									<h5>Theland新西兰进口牛奶牛市兰</h5>
									<p class="mobile-ellipsis-2">口牛奶牛市兰口牛奶牛市兰牛奶牛市</p>
									<p class="mobile-ellipsis">250ml*24 <span>家庭装</span></p>
									<div class="op clearfix">
										<span class="price">79.9元/箱</span>
										<button class="btn" type="button">立即购买</button>
									</div>
								</a>
							</li>
							<li>
								<img src="../images/index-list-2.png" alt="" />
								<h5>Theland新西兰进口牛奶牛市兰</h5>
								<p class="mobile-ellipsis-2">口牛奶牛市兰口牛奶牛市兰牛奶牛市</p>
								<p class="mobile-ellipsis">250ml*24 <span>家庭装</span></p>
								<div class="op clearfix">
									<span class="price">79.9元/箱</span>
									<button class="btn" type="button">立即购买</button>
								</div>
							</li>
							<li>
								<img src="../images/index-list-3.png" alt="" />
								<h5>Theland新西兰进口牛奶牛市兰</h5>
								<p class="mobile-ellipsis-2">口牛奶牛市兰口牛奶牛市兰牛奶牛市</p>
								<p class="mobile-ellipsis">250ml*24 <span>家庭装</span></p>
								<div class="op clearfix">
									<span class="price">79.9元/箱</span>
									<button class="btn" type="button">立即购买</button>
								</div>
							</li>
							<li>
								<img src="../images/index-list-4.png" alt="" />
								<h5>Theland新西兰进口牛奶牛市兰</h5>
								<p class="mobile-ellipsis-2">口牛奶牛市兰口牛奶牛市兰牛奶牛市</p>
								<p class="mobile-ellipsis">250ml*24 <span>家庭装</span></p>
								<div class="op clearfix">
									<span class="price">79.9元/箱</span>
									<button class="btn" type="button">立即购买</button>
								</div>
							</li>
							<li>
								<a href="aside.html">
									<img src="../images/index-list-1.png" alt="" />
									<h5>Theland新西兰进口牛奶牛市兰</h5>
									<p class="mobile-ellipsis-2">口牛奶牛市兰口牛奶牛市兰牛奶牛市</p>
									<p class="mobile-ellipsis">250ml*24 <span>家庭装</span></p>
									<div class="op clearfix">
										<span class="price">79.9元/箱</span>
										<button class="btn" type="button">立即购买</button>
									</div>
								</a>
							</li>
							<li>
								<img src="../images/index-list-2.png" alt="" />
								<h5>Theland新西兰进口牛奶牛市兰</h5>
								<p class="mobile-ellipsis-2">口牛奶牛市兰口牛奶牛市兰牛奶牛市</p>
								<p class="mobile-ellipsis">250ml*24 <span>家庭装</span></p>
								<div class="op clearfix">
									<span class="price">79.9元/箱</span>
									<button class="btn" type="button">立即购买</button>
								</div>
							</li>
							<li>
								<img src="../images/index-list-3.png" alt="" />
								<h5>Theland新西兰进口牛奶牛市兰</h5>
								<p class="mobile-ellipsis-2">口牛奶牛市兰口牛奶牛市兰牛奶牛市</p>
								<p class="mobile-ellipsis">250ml*24 <span>家庭装</span></p>
								<div class="op clearfix">
									<span class="price">79.9元/箱</span>
									<button class="btn" type="button">立即购买</button>
								</div>
							</li>
							<li>
								<img src="../images/index-list-4.png" alt="" />
								<h5>Theland新西兰进口牛奶牛市兰</h5>
								<p class="mobile-ellipsis-2">口牛奶牛市兰口牛奶牛市兰牛奶牛市</p>
								<p class="mobile-ellipsis">250ml*24 <span>家庭装</span></p>
								<div class="op clearfix">
									<span class="price">79.9元/箱</span>
									<button class="btn" type="button">立即购买</button>
								</div>
							</li>
							<li>
								<a href="aside.html">
									<img src="../images/index-list-1.png" alt="" />
									<h5>Theland新西兰进口牛奶牛市兰</h5>
									<p class="mobile-ellipsis-2">口牛奶牛市兰口牛奶牛市兰牛奶牛市</p>
									<p class="mobile-ellipsis">250ml*24 <span>家庭装</span></p>
									<div class="op clearfix">
										<span class="price">79.9元/箱</span>
										<button class="btn" type="button">立即购买</button>
									</div>
								</a>
							</li>
							<li>
								<img src="../images/index-list-2.png" alt="" />
								<h5>Theland新西兰进口牛奶牛市兰</h5>
								<p class="mobile-ellipsis-2">口牛奶牛市兰口牛奶牛市兰牛奶牛市</p>
								<p class="mobile-ellipsis">250ml*24 <span>家庭装</span></p>
								<div class="op clearfix">
									<span class="price">79.9元/箱</span>
									<button class="btn" type="button">立即购买</button>
								</div>
							</li>
							<li>
								<img src="../images/index-list-3.png" alt="" />
								<h5>Theland新西兰进口牛奶牛市兰</h5>
								<p class="mobile-ellipsis-2">口牛奶牛市兰口牛奶牛市兰牛奶牛市</p>
								<p class="mobile-ellipsis">250ml*24 <span>家庭装</span></p>
								<div class="op clearfix">
									<span class="price">79.9元/箱</span>
									<button class="btn" type="button">立即购买</button>
								</div>
							</li>
							<li>
								<img src="../images/index-list-4.png" alt="" />
								<h5>Theland新西兰进口牛奶牛市兰</h5>
								<p class="mobile-ellipsis-2">口牛奶牛市兰口牛奶牛市兰牛奶牛市</p>
								<p class="mobile-ellipsis">250ml*24 <span>家庭装</span></p>
								<div class="op clearfix">
									<span class="price">79.9元/箱</span>
									<button class="btn" type="button">立即购买</button>
								</div>
							</li>

						</ul>

					</div>

					<div class="mobile-loading">正在加载中...

			</div>
		</section>

		<!--<div class="mobile-tab mobile-tab-bottom">
			<nav class="mobile-tab-nav">
				<div class="mobile-tab-item width-2-5 active">
					<span>首页</span>
				</div>

				<div class="mobile-tab-item width-2-5">
					<span class="">电话</span>
				</div>

				<div class="mobile-tab-item width-2-5">
					<span>邮件</span>
				</div>
				<div class="mobile-tab-item width-2-5">
					<span>设置</span>
				</div>

			</nav>

		</div>-->

		<!--footer-->
		<!--<footer class="mobile-footer">
				<h2>页脚</h2>
		</footer>-->

		</script>
		<script src="../js/mobile.js" type="text/javascript" charset="utf-8"></script>

		<script type="text/javascript">
			m(function() {

				var oneFlag = true;
				$(".mobile-overflow-content").scroll(function(event) {
					//console.log(this.clientHeight);
					//console.log("scrollHeight:"+event.currentTarget.scrollHeight);
					//console.log("scrollTop:"+event.currentTarget.scrollTop);
					//var load_top=$(".mobile-loading").offset().top;
					//console.log("load:"+load_top);

					var scroll_client_h = parseFloat(this.clientHeight);

					var scroll_h = parseFloat(event.currentTarget.scrollHeight);

					var scroll_top = parseFloat(event.currentTarget.scrollTop);

					var loading_top =parseFloat( $(".mobile-loading").offset().top;)

					var loading_scroll_top = loading_top - scroll_client_h;

					if(scroll_top >= loading_scroll_top) {
						
						if(oneFlag) {
							oneFlag = false;
							setTimeout(function() {
								m.get("../json/topbottom.json", function(data) {
									oneFlag = true;
									var temp = "";
									///data = JSON.parse(data)
									data.forEach(function(item) {
										temp +=
											`<li>
											<a href="aside.html">
												<img src="${item.src}" alt="" />
												<h5>Theland新西兰进口牛奶牛市兰</h5>
												<p class="mobile-ellipsis-2">口牛奶牛市兰口牛奶牛市兰牛奶牛市</p>
												<p class="mobile-ellipsis">250ml*24 <span>家庭装</span></p>
												<div class="op clearfix">
													<span class="price">79.9元/箱</span>
													<button class="btn" type="button">立即购买</button>
												</div>
											</a>
										</li>
								`;

									});
									m(".mobile-loading-content .scrolltopbottom").append(temp);
									//$(".mobile-overflow-content").tap(function(){});
									

								});
							}, 1500);

						}
					}
				});

			});
		
		</script>
	</body>

</html>