<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>mobile触摸页面-滑动的tab的多个content</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<style>
			.mobile-tab-slide .mobile-scroll-content {
				padding: 5px;
			}
			
			p {
				line-height: 1.4rem;
				font-size: .8rem;
				padding: .25rem;
				background: #fafafa;
				margin-bottom: .25rem;
				border-radius: .25rem;
			}
			
		</style>
		<link rel="stylesheet" type="text/css" href="../css/font/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="../css/mobile.css" />

	</head>

	<body>
		<!--head-->
		<div class="mobile-head">
			<span class="mobile-back iconfont icon-back-left"></span>
			<h2 class="mobile-head-ttl">滑动的tab标签-多个content</h2>
		</div>
		<!--定位到顶部-->
		<div class="mobile-tab mobile-tab-top">
			<!--左右滑动组件  data-position-left=定位到left data-position-center=定位到center data-trigger=允许触发scrollloading事件 -->
			<nav class="mobile-tab-nav mobile-scroll-leftright" data-position-center data-trigger>
				<ul class="mobile-scroll-content">
					<!--<li class="active" data-target="#page1">
						第1屏
					</li>-->

				</ul>
			</nav>

		</div>

		<!--content-->
		<section class="mobile-content">
			<!--tab 左右滑动内容 data-drag=左右两边回弹  data-transition="是否左右滑动动画"  data-trigger=允许触发scrollloading事件 -->
			<div class="mobile-tab-slide" data-transition="是否左右滑动动画" data-drag data-trigger>
				<div class="mobile-tab-slide-list mobile-scroll-topbottom" data-scroll-bottom data-loading >
					<!--异步加载内容很有用 mobile-scroll-content-many内容hide 只一个显示active-->
					<!--<div class="mobile-tab-slide-item mobile-scroll-content-many active" id="page1">
						<div class="mobile-loading-content">
							<p>第1屏</p>

						</div>
						<div class="mobile-loading">
							上拉加载更多
						</div>

					</div>-->

				</div>
			</div>

		</section>

		<!--定位到底部-->
		<!--<div class="mobile-tab mobile-tab-bottom">
			<nav class="mobile-tab-nav">
				<div class="mobile-tab-item width-2-5 active">
					<span>首页</span>
				</div>

				<div class="mobile-tab-item width-2-5">
					<span class="">电话</span>
				</div>

				<div class="mobile-tab-item width-2-5">
					<span>邮件</span>
				</div>
				<div class="mobile-tab-item width-2-5">
					<span>设置</span>
				</div>

			</nav>

		</div>-->
		<!--<div class="mobile-tab mobile-tab-bottom">
			<nav class="mobile-tab-nav">
				<div class="mobile-tab-item width-2-5 active">
					<span>首页</span>
				</div>

				<div class="mobile-tab-item width-2-5">
					<span class="">电话</span>
				</div>

				<div class="mobile-tab-item width-2-5">
					<span>邮件</span>
				</div>
				<div class="mobile-tab-item width-2-5">
					<span>设置</span>
				</div>

			</nav>

		</div>-->

		<!--footer-->
		<!--<footer class="mobile-footer">
				<h2>页脚</h2>
		</footer>-->

		<script src="../js/mobile.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			m(function() {
				var count = 0;

				// 动态添加el
				var temp_ttl = "";
				var tab_ttl = m(".mobile-tab-nav .mobile-scroll-content");
				var temp_content = "";
				var tab_content = m(".mobile-tab-slide-list");
				for(var i = 1; i < 41; i++) {

					// tab-nav
					temp_ttl += `
							<li class="${i==1?'active':''}" data-target="#page${i}">
								第${i}屏
							</li>
						`;
					
					// tab-content
					temp_content += `
						<div class="mobile-tab-slide-item mobile-scroll-content-many ${i==1?'active':''}" id="page${i}">
							<div class="mobile-loading-content">
								<p>第${i}屏</p>
	
							</div>
							<div class="mobile-loading">
								上拉加载更多
							</div>

						</div>
						`;

				}
				tab_ttl.append(temp_ttl);
				tab_content.append(temp_content);
				m.reset(); //重设异步加载元素样式
				

				// 拉到底部 加载数据
				m(".mobile-tab-slide-list.mobile-scroll-topbottom").on("scrollloading", function(event) {
					var bottomcontent = m(event.detail.el);
					var loading = event.detail.loading || {};
					var translateY = event.detail.translateY || 0;
					var loadingY = event.detail.loadingY || 0;
					var isLoading = event.detail.isLoading || false;

					if(!isLoading) {
						return;

					}

					if(!bottomcontent.hasAttr("firstbottom")) {
						bottomcontent.attr("firstbottom", true); //异步加载标识
						m(loading).html("正在加载中...");
						setTimeout(function() {

							m.get("../json/tab.json", function(data) {
								data = data.map(function(item) {
									return {
										content: bottomcontent.attr("id") + "#" + item.content
									};
								});

								var temp = "";
								data.forEach(function(item) {
									temp +=
										`
									<p>${item.content}</p>
								`

								});
								console.log(++count);
								bottomcontent.find(".mobile-loading-content").append(temp);
								m(loading).html("上拉加载更多");

								if(event.detail.resetBar) {
									event.detail.resetBar(); // 重置滚动条
								}
								bottomcontent.attr("data-trigger", true); // 标记元素第一次已触发过
								bottomcontent.removeAttr("firstbottom"); //异步加载标识

							}, function() {
								bottomcontent.removeAttr("firstbottom"); //异步加载标识
								m(loading).html("数据加载失败");
							});
						}, 1000);
					}

			});

				// 第一屏 第一次出发触发scrollbottom
					m(".mobile-scroll-content-many.active").emit("scrollloading", {
						el: m(".mobile-scroll-content-many.active"),
						loading: m(".mobile-scroll-content-many.active").find(".mobile-loading"),
						isLoading: true
						});

			});
		</script>

	</body>

</html>