<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>mobile触摸页面-普通列表</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<style>

		</style>
		<link rel="stylesheet" type="text/css" href="../css/font/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../css/mobile.css" />

	</head>

	<body>
		<!--head-->
		<div class="mobile-head">
			<span class="mobile-back iconfont icon-back-left"></span>
			<h2 class="mobile-head-ttl">普通列表</h2>
		</div>

		<section class="mobile-content mobile-scroll-topbottom" data-scroll-top data-scroll-bottom>
			<div class="mobile-scroll-content">

				<div class="mobile-title">
					右侧无导航箭头
				</div>
				<ul class="mobile-table-view">
					<li class="mobile-table-view-cell">
						<a class="#">
							Item 1
						</a>
					</li>
					<li class="mobile-table-view-cell">
						<a class="#">
							Item 2
						</a>
					</li>
					<li class="mobile-table-view-cell">
						<a class="#">
							Item 3
						</a>
					</li>
				</ul>
				<div class="mobile-title">
					右侧有导航箭头
				</div>
				<ul class="mobile-table-view">
					<li class="mobile-table-view-cell">
						<a class="#">
							Item 1
						</a>
						<span class="iconfont icon-back-right"></span>
					</li>
					<li class="mobile-table-view-cell">
						<a class="#">
							Item 2
						</a>
						<span class="iconfont icon-back-right"></span>
					</li>
					<li class="mobile-table-view-cell">
						<a class="#">
							Item 3
						</a>
						<span class="iconfont icon-back-right"></span>
					</li>
				</ul>

				<div class="mobile-title">
					圆角列表
				</div>
				<ul class="mobile-table-view mobile-table-view-rd">
					<li class="mobile-table-view-cell">
						<a class="#">
							Item 1
						</a>
						<span class="iconfont icon-back-right"></span>
					</li>
					<li class="mobile-table-view-cell">
						<a class="#">
							Item 2
						</a>
						<span class="iconfont icon-back-right"></span>
					</li>
					<li class="mobile-table-view-cell">
						<a class="#">
							Item 3
						</a>
						<span class="iconfont icon-back-right"></span>
					</li>
				</ul>
			</div>
		</section>

		<script src="../js/mobile.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			m(function() {

			});
		</script>

	</body>

</html>